%form{:action => "/result", :method => "GET"}
	%p
		%input{:type => "text" , :name => "to",:id => "to", :size => 20}
		%input{:type => "text" , :name => "tt",:id => "tt", :size => 5}
		%input{:type => "text" , :name => "h",:id => "h", :size => 5}
		%input{:type => "text" , :name => "m",:id => "m", :size => 5}
	%p
		%input{:type => "submit" , :value => "Send"} 
