%form{:action => "/time", :method => "GET"}
	%p
		%input{:type => "text" , :name => "train_to",:id => "train_to", :size => 20}
		%input{:type => "text" , :name => "h",:id => "h", :size => 5}
		%input{:type => "text" , :name => "m",:id => "m", :size => 5}
	%p
		%input{:type => "submit" , :value => "Send"} 
