body{
  width:734px;
}
td.result_area_td{
  width:410;
  font-size:120%;
  font-weight:bold;
}
td.result_area_timediff_td{
  width:85;
}
td.result_area_fare_td{
  width:120;
}
td.result_area_dest_td{
  font-size:120%;
  font-weight:bold;
}
div.transittime{
  text-align:left;
  margin-left:5%;
  padding:5px;
}
